<!DOCTYPE html>
<html lang="fr"
      xmlns:th="http://www.thymeleaf.org"
      th:replace="~{layout/base :: layout('Types equipement', '', ~{::section})}">

<section th:fragment="section">

    <div class="list-header d-flex justify-content-between align-items-center">
        <h2 class="m-0">Catalogue des équipements</h2>

        <a th:href="@{/types-equipement/new}" class="icon-btn">
            <img th:src="@{/images/ajouter.png}" class="icon-26">
        </a>
    </div>

    <div class="equipements-grid mt-4">

        <div class="equipement-card" th:each="t : ${types}">

                <div class="equipement-photo">
             <img th:src="${t.photoPath != null} ?
             @{|/equipements-img/equipements/${t.photoPath}|} :
             @{/images/default-equipement.png}">


            </div>

            <h3 class="equipement-nom" th:text="${t.nom}"></h3>

                <div class="type-stock-line">
                    <span><strong>Total :</strong> <span th:text="${t.quantiteTotale}"></span></span>
                    <span><strong>Utilisés :</strong> <span th:text="${utilisesMap[t.id]}"></span></span>
                    <span><strong>Restants :</strong> <span th:text="${restantsMap[t.id]}"></span></span>
                </div>


            <div class="equipement-actions d-flex justify-content-between mt-3">

                <a th:href="@{|/types-equipement/${t.id}/edit|}" class="icon-btn-small">
                    <img th:src="@{/images/modifier.png}" class="icon-20">
                </a>

                <form th:action="@{|/types-equipement/${t.id}/delete|}" method="post"
                      onsubmit="return confirm('Supprimer ce type ?');">
                    <button class="btn-circle">
                        <img th:src="@{/images/supprimer.png}" class="icon-20">
                    </button>

                </form>

            </div>

        </div>

        <div th:if="${#lists.isEmpty(types)}"
             class="text-center text-muted py-4 col-12">
            Aucun type d'équipement.
        </div>

    </div>

</section>
</html>
