<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org"
      th:replace="~{layout/base :: layout('Planning', 'Formulaire planning', ~{::section})}">

<section th:fragment="section" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

    <!-- MESSAGE GLOBAL -->
    <div th:if="${param.error}" class="alert alert-danger mb-3">
        <span th:switch="${param.error}">
            <span th:case="'introuvable'">Planning introuvable.</span>
            <span th:case="'responsable'">Responsable introuvable.</span>
            <span th:case="'activite'">Activité introuvable.</span>
            <span th:case="*">Une erreur est survenue.</span>
        </span>
    </div>
    <div th:if="${chevauchementError}" class="alert alert-danger mb-3">
    <span th:text="${chevauchementError}"></span>
    </div>

    <div class="form-header d-flex justify-content-between align-items-center">
        <h2 class="m-0" th:text="${isEdit} ? 'Modifier le créneau' : 'Ajouter un créneau'"></h2>
        <div></div>
    </div>

    <form sec:authorize="hasAnyRole('DIRECTEUR', 'ADMINISTRATIF','EDUCATEUR')"
          th:action="@{${submitUrl}}" th:object="${planning}"
          method="post" class="form-card">

        <div class="form-grid">

            <div>
            <label>Date</label>
            <input type="text" th:field="*{date}"
                class="form-control datepicker"
                placeholder="JJ/MM/AAAA">
            <div class="error" th:errors="*{date}"></div>
        </div>

        <div>
            <label>Heure début</label>
            <input type="text" th:field="*{heureDebut}"
                class="form-control timepicker"
                placeholder="HH:MM">
            <div class="error" th:errors="*{heureDebut}"></div>
        </div>

        <div>
            <label>Heure fin</label>
            <input type="text" th:field="*{heureFin}"
                class="form-control timepicker"
                placeholder="HH:MM">
            <div class="error" th:errors="*{heureFin}"></div>
        </div>
            <div>
                <label>Employé</label>
                <select name="employeId" class="form-control">
                    <option th:each="e : ${employes}"
                            th:value="${e.idPersonne}"
                            th:text="${e.nom + ' ' + e.prenom}">
                    </option>
                </select>

           <!--     <div class="error" th:if="${#fields.hasErrors('responsable')}" th:errors="*{responsable}"></div>  -->
           <!--     <div class="error" th:if="${#fields.hasErrors('responsableValide')}" th:errors="*{responsableValide}"></div> -->

            </div>

        </div>

        <div class="form-actions mt-3">
            <button class="btn-gold">Enregistrer</button>
            <a th:href="@{/plannings}" class="btn-ghost">Annuler</a>
        </div>

    </form>

    <script>
    flatpickr(".datepicker", {
        locale: "fr",
        altInput: true,
        altFormat: "d/m/Y",
        dateFormat: "Y-m-d",
        allowInput: true
    });

    flatpickr(".timepicker", {
        locale: "fr",
        enableTime: true,
        noCalendar: true,
        time_24hr: true,
        dateFormat: "H:i",
    });
</script>

</section>
</html>
