<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org"
      th:replace="~{layout/base :: layout('Dossier médical', 'Modifier le dossier médical', ~{::section})}">

<section th:fragment="content" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

    <!-- MESSAGE GLOBAL -->
    <div th:if="${param.error}" class="alert alert-danger mb-3">
        <span th:switch="${param.error}">
            <span th:case="'introuvable'">Résident introuvable.</span>
            <span th:case="'sansDossier'">Le résident n’a pas de dossier médical.</span>
            <span th:case="*">Une erreur est survenue.</span>
        </span>
    </div>

    <div class="form-header d-flex justify-content-between align-items-center">
        <h2 class="m-0"
            th:text="'Modifier le dossier médical — ' + resident.nom + ' ' + resident.prenom"></h2>
        <div></div>
    </div>

    <!-- FORMULAIRE -->
    <form sec:authorize="hasAnyRole('DIRECTEUR','SOIGNANT')"
          th:action="@{|/dossiers/${resident.idPersonne}|}"
          th:object="${dossier}" method="post" class="form-card">

        <div class="form-grid">

            <div>
                <label>Groupe sanguin</label>
                <input type="text" th:field="*{groupeSanguin}" class="form-control">
                <div class="error" th:errors="*{groupeSanguin}"></div>
            </div>

            <div>
                <label>Allergies</label>
                <textarea th:field="*{allergies}" rows="3" class="form-control"></textarea>
                <div class="error" th:errors="*{allergies}"></div>
            </div>

            <div>
                <label>Observations générales</label>
                <textarea th:field="*{observationsGenerales}" rows="4" class="form-control"></textarea>
                <div class="error" th:errors="*{observationsGenerales}"></div>
            </div>

        </div>

        <div class="form-actions mt-3">
            <button class="btn-gold">Enregistrer</button>
            <a th:href="@{|/dossiers/${resident.idPersonne}|}" class="btn-ghost">Annuler</a>
        </div>

    </form>

</section>
</html>
